@charset "utf-8";

:root {
  /*--main:#414141;*/
  --main:#2F343C;
  --text:#BBB;
  --hyperlink:#70A7FF;
}

*{
    margin:0px;
    padding:0px;
}

html{
    font: 300%/1.6em 'Open Sans', sans-serif;
}

body {
    background-color:var(--main);
    background-attachment: fixed; 
    color:var(--text);
    max-width: 40em;
    margin: auto;
    margin-top: 50%;
}

a {
    color:var(--hyperlink);
    text-decoration: none;
}

h1{
    line-height: 3em;
    color:var(--text);
    text-align: center;
}

a {
    color:var(--hyperlink);
    text-decoration: none;
}

#content {
    display: block;
    background-color:var(--main);
}
