@charset "utf-8";

:root {
  --main:#414141;
  --secondary:#141414;
  --text:#FFF;
  --hyperlink:#70A7FF;
}

*{
    margin:0px;
    padding:0px;
}

html{
    font-family: 'Open Sans', sans-serif;
    font-size:150%;
}

body {
    background-color:var(--main);
    color:var(--text);
}

a {
    color:var(--hyperlink);
    text-decoration: none;
}

#menu {
    padding:1em 10% 0px 10%;
}

#header {
    padding-bottom:1em;
}

#nav {
    padding-bottom:0.5em;
}

#nav_li {
    display:inline;
}

#nav_li a{
    padding:0.5em 3vw;
}

#nav_li a:hover{
    background-color:var(--secondary);
}

#aside{
    padding-top:0.5em;
    margin-bottom:0.5em;
    float:left;
}

#aside_li {
    margin:0.5em 1em 1.5em 0px;
    display:block;
}

#aside_li a{
    padding:1em 4vw 1em 4vw;
}

#aside_li a:hover{
    background-color:var(--main);
}

#header {
    background-color:var(--main);
    text-align:center;
}
#content {
    background-color:var(--secondary);
    margin:0px 10% 0px 10%;
    padding-bottom:100%;
}
#main {
    background-color:var(--secondary);
    padding:1em;
}
