@charset "utf-8";

:root {
  --main:#414141;
  --secondary:#141414;
  --text:#BBB;
  --title:#DDD;
  --hyperlink:#70A7FF;
}

*{
    margin:0px;
    padding:0px;
}

html{
    font: 120%/1.6em 'Open Sans', sans-serif;
}

body {
    background-color:var(--main);
    color:var(--text);
    max-width: 60em;
    margin: 0px auto;
}

a {
    color:var(--hyperlink);
    text-decoration: none;
}

h1, h2, #quote, #time{
    line-height: 1.3em;
    color:var(--title);
    text-align: center;
}

#menu {
    padding-top:1em;
}

#header {
    padding-bottom:1em;
}

#nav {
    padding-bottom:0.5em;
}

#nav_li {
    display:inline;
}

#nav_li a{
    padding:1em 3vw;
}

#nav_li a:hover{
    background-color:var(--secondary);
}

#hr {
    margin: 0.5em 46%;
}

#aside{
    padding-top:1em;
    display: table-cell;
    float:left;
}

#aside_li {
    margin:0.5em 0.5em 1.5em 0px;
    display:block;
}

#aside_li a{
    padding:0.5em 5em;
}

#aside_li a:hover{
    background-color:var(--main);
}

#header {
    background-color:var(--main);
    text-align:center;
}
#content {
    display: table;
    background-color:var(--secondary);
}
#main {
    display: table-cell;
    vertical-align: top;
    background-color:var(--secondary);
    padding:3em 3em 5em 0em;
}
